/build/
/build-host/
/generated/rott/
/rott64.z64
/rott64.z64.sha256
/vendor/shareware/*.zip
/vendor/shareware/*.tar.bz2
/vendor/shareware/*.part
/vendor/taradino/source/
/vendor/rottds/source/
/vendor/rottds/*.tar.bz2
/filesystem/rott/HUNTBGIN.*
/filesystem/rott/REMOTE1.RTS
/filesystem/rott/DEMO*.DMO
/filesystem/rott/LICENSE.DOC
/filesystem/rott/VENDOR.DOC
/filesystem/rott/ORDER.FRM
/filesystem/rott/README.NDS
/filesystem/rott/COPYING
/filesystem/rott/SHA256SUMS.txt
/filesystem/rott/SOURCE.txt
__pycache__/
*.pyc

assets/music/*.mid
assets/music/*.wav
filesystem/rott/music/*.wav64
